/*************************  GENERAL  **************************************/

body {
  margin: 0;
  font-family: 'SF UI Text';
}

.grey-color {
  color: #333333;
}

a {
  text-decoration: none;
  color: #0070C9;
  font-weight: 400;
  font-size: 23px;
  margin: 15px;
}

a.light-link {
  color: #66BBFF;
}

.info-blocks h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 36px;
  margin: 0 0 20px 0;
}

.info-blocks h3 {
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  margin: 0;
}

.info-blocks {
  text-align: center;
  margin: 0 auto;
  width: 92%;
}

.left-block {
  margin-right: 25px;
}

.info-block {
  margin-top: 30px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 605px;
  background-color: #121217;
  color: white;
  padding-top: 60px;
}

.light-block {
  background-color: #FAFAFA;
  color: #111111;
}

.z-text {
  position: relative;
  z-index: 2;
}

.full-block {
  text-align: center;
  width: 75.2%;
  height: 605px;
  margin: 30px auto 0 auto;
  padding-top: 60px;
}

.inline-block {
  display: inline-block;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*************************  NAVIGATION  ***********************************/

.site-nav {
  text-align: center;
  background-color: #313131;
  padding: 0;
}

.site-nav ul {
  margin: 0;
  font-weight: lighter;
  font-size: 14px;
  line-height: 44px;
}

.site-nav li {
  display: inline-block;
  color: white;
  margin: 0 38px;
}

.nav-img {
  width: 16px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.nav-img-smaller {
  width: 14px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

/* PRODUCTS BAR */

.products-bar {
  background-color: #F6F6F6;
  color: black;
  height: 92px;
  padding: 12px 0;
  text-align: center;
}

.products-bar ul {
  margin: 0;
  font-weight: lighter;
  font-size: 11px;
  padding: 0;
}

.products-bar li {
  display: inline-block;
  color: black;
  vertical-align: middle;
  margin: 0 15px;
  position: relative;
}

.products-bar img {
  display: block;
  margin: 5px auto;
}

.products-bar span {
  position: absolute;
  display: block;
  font-size: 10px;
  color: #ef5602;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*************************  MacBook Air  **********************************/

.title-container {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 5px;
}

.title-container h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
}

.title-container h3 {
  font-weight: 700;
  font-size: 55px;
  line-height: 68px;
  margin: 15px 0;
}

.title-img {
  display: block;
  margin: 40px auto;
}

/*************************  Mac mini  *************************************/

.macmini-container h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
}

.macmini-container h3 {
  font-weight: 700;
  font-size: 55px;
  line-height: 68px;
  margin: 15px 0;
}

.macmini-container {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 30px;
  overflow: hidden;
  padding-top: 80px;
}

.macmini-img {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -300px;
}

.macmini-text {
  width: 25%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/*************************  4 other macs  *********************************/

.macbook-info-img {
  margin-top: 120px;
}

.imac-block {
  overflow: hidden;
}

.imac-info-img {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -200px;
}

/*************************  COMPARE MODELS  *******************************/

.macs-compare-img {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 60px;
}

.compare-block h2 {
  font-weight: 700;
  font-size: 45px;
  margin: 0 0 20px 0;
}

/*************************  macOS Mojave  *********************************/

.mojave-block h2 {
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  margin: 0;
}

.mojave-block h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 36px;
  margin: 20px 0 30px 0;
}

.mojave-block {
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/mac/home/ae/images/overview/mojave__cwrl96nd8k66_large.jpg");
  background-size: 100% 665px;
  color: white;
}

.mojave-block p {
  font-size: 20px;
  line-height: 10px;
}

.mojave-block a {
  font-size: 20px;
}

/*************************  GIVEBACK  *************************************/

.giveback-block h2 {
  font-weight: 600;
  font-size: 23px;
  line-height: 25px;
  margin: 0;
}

.giveback-block h2 {
  line-height: 25px;
}

.giveback-block h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 25px;
  margin: 20px 0 30px 0;
}

.giveback-block p {
  font-size: 20px;
  line-height: 10px;
}

.giveback-block a {
  font-size: 20px;
}

/*************************  Delivery and Setup  ***************************/

.delivery-setup-block a {
  font-size: 20px;
}

.delivery-setup-block {
  margin: 30px 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  color: black;
}

.block-img {
  display: block;
  margin: 10px auto;
}

.delivery-setup-block p {
  font-size: 20px;
  line-height: 5px;
  margin-top: 0;
}

.delivery-setup-block h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  margin: 5px 0 15px 0;
}

/*************************  Accessories  **********************************/

.accessories-block h2 {
  font-weight: 700;
  font-size: 45px;
  margin: 0 0 20px 0;
}

.accessories-block {
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/mac/home/ae/images/overview/accessories__e50xjp5ztyc2_large.jpg");
  background-size: 100% 665px;
  color: black;
}

/*************************  What makes a Mac a Mac?  **********************/

.what-makes-blocks h2 {
  margin-bottom: 30px;
}

.what-makes-heading h2 {
  font-weight: 700;
  font-size: 55px;
  line-height: 68px;
  margin: 15px 0;
}

.what-makes-heading {
  text-align: center;
  margin: 100px 0 70px 0;
}

.what-makes-block {
  height: 540px;
  padding-top: 40px;
}

.what-makes-blocks {
  overflow: hidden;
}

.what-makes-blocks p {
  font-size: 17px;
  line-height: 6px;
}

.what-makes-blocks a {
  font-size: 17px;
}

.macos-what-makes-img {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -320px;
}

.icloud-what-makes-img {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -340px;
}
