body {
  margin: 0;
  font-family: 'SF UI Text';
}

nav {
  text-align: center;
  background-color: #313131;
  padding: 0;
}

nav ul {
  margin: 0;
  font-weight: lighter;
  font-size: 14px;
  line-height: 44px;
}

nav li {
  display: inline-block;
  color: white;
  margin: 0 38px;
}

.nav-img {
  width: 16px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.nav-img-smaller {
  width: 14px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

/* PRODUCTS BAR */
.products-bar {
  background-color: #F6F6F6;
  color: black;
  height: 92px;
  padding: 12px 0;
  text-align: center;
}

.products-bar ul {
  margin: 0;
  font-weight: lighter;
  font-size: 11px;
  padding: 0;
}

.products-bar li {
  display: inline-block;
  color: black;
  vertical-align: middle;
  margin: 0 15px;
  position: relative;
}

.products-bar img {
  display: block;
  margin: 5px auto;
}

.products-bar span {
  position: absolute;
  display: block;
  font-size: 10px;
  color: #ef5602;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.title-container {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 5px;
}

h4 {
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 20px;
}

h1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 68px;
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: #0070C9;
  font-weight: 400;
  font-size: 23px;
  margin: 15px;
}

p {
  margin-top: 15px;
  display: inline-block;
}

.title-img {
  display: block;
  margin: 40px auto;
}

.macmini-container {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 30px;
  overflow: hidden;
  padding-top: 80px;
}

.macmini-container a, .dark-block a {
  color: #66BBFF;
}

.macmini-img {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -300px;
}

.macmini-text {
  width: 25%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.info-blocks {
  text-align: center;
  margin: 0 auto;
  width: 92%;
}

.info-block {
  margin-top: 30px;
  margin-right: 25px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 605px;
  background-color: #121217;
  color: white;
  padding-top: 60px;
}

.light-block {
  background-color: #FAFAFA;
  color: #111111;
}

.light-block h4 {
  color: #333333;
}

.macbook-info-img {
  margin-top: 120px;
}

.imac-block {
  overflow: hidden;
}

.imac-info-img {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -200px;
}

.imac-text {
  position: relative;
  z-index: 2;
}
